@import 'reset';

body {
  color: black;
  font-family: 'Libre Franklin', sans-serif;
  padding: 3em 1.5em;
  min-width: 380px;
}

#main-doc{
  padding: 0 0 0 1em;
  margin-top: 1em;
}

h1{
  font-family: 'Proza Libre', sans-serif;
  font-size: 2em;
  text-align: center;
}

p{
  font-size: 0.8em;
}

ol{
  font-size: 0.6;
}

section {
  margin-left: 1em;
}

section h2{
  margin-left: -1em;
}

#container{
  display: flex;
  flex-direction: column;
}

nav{
  font-family: Trirong, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid gray;
    ul {
    background-color: rgb(228, 240, 255);
    padding: 0.5em 1em;
    font-size: 1.2em;
    list-style: none;
      li{
        display: inline;
        padding-right: 10px;
        a{
          color: black;
        }
    }
  }
}

nav ul li a:hover{
  text-decoration: none;
}

.nav-link{
  display: none;
}

.menu-icon{
  width: 3em;
  height: 100%;
  text-align: center;
  line-height: 3em;
}

#openMenu-icon{
  float: left;
}

.menu-icon:hover{
  background-color: gray;
} 

#closeMenu-icon{
  float: right;

}

.inline{
  display: inline-block;
}

.visible{
  display: block;
}

.invisible{
  display: none;
}

code{
  display: block;
  white-space: pre-wrap;   
  font-family: monospace;
  font-size: 1em;
  background-color: rgb(201, 201, 201);
  padding: 1em;
  margin-bottom: 1em;
}


@media (min-width:870px){

  .menu-icon{
    display: none;
  }
  .nav-link{
    display: inline-block;
  }
  nav ul{
    font-size: 1em;
  }
  h1{
    text-align: left;
  }
}


@media (min-width: 990px){

  #container{
    flex-direction: row;
  }

  #main-doc{
    padding: 0 0 0 2em;
    margin-left: 300px;
    border-left: 1px solid gray;
    border-top: none;
  }
  
  nav{
    flex-basis: 120em;
    ul {
      background: none; 
      li{
      display: block;
      margin-bottom: 1em;
      border-bottom: 1px solid gray;
      }
    } 
  }

  .menu-icon{
    display: none;
  }
  .nav-link{
    display: block;
  }

  .stick{
    position: fixed;
    width: 290px;
    height: 100%;
  }

}